/*base*/
*{
	margin: 0;
	padding: 0;
	@include border-box;
	@include transition(all 200ms ease-in);
}
html{
	height: 100%;
}
body{
	font-family: $font;
	color: $black;
	height: 100%;
	background: $offwhite;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	font-weight: 300;
}
img{
	max-width: 100%;
	display: block;
}
ul{
	margin-left: 40px;
}

/*structures*/
.container{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	overflow: hidden;
}
.row{
	overflow: hidden;
	margin: 0 -15px 15px -15px;
	&--nomargin{
		overflow: hidden;
		margin: 0;
	}
}
.col{
	float: left;
	padding: 0 15px;
	&--nopad{
		float: left;
		padding: 0;
	}
}
.col6{
	width: 50%;
}
.col4{
	width: 33.33333%;
}
.col3{
	width: 25%;
}
@media #{$breakpoint-phone}{
	.col{
		float: none;
	}
	.col6, .col4, .col3{
		width: 100%;
	}
}

/*general classes*/
.button{
	display: inline-block;
	min-width: 200px;
	padding: 15px;
	text-align: center;
	background: $red;
	color: $offwhite;
	border: 2px solid transparent;
	&:hover{
		background: transparent;
		color: $black;
		border-color:$black;
	}
	@include phone{
		min-width: 100%;
	}
}

.--whitebg{
	background: #fff;
}
.banner{
	margin-bottom: 30px;
}

.workpreview{
	a{
		display: block;
	}
	figure{
		position: relative;
		overflow: hidden;
		color: #fff;
		background: #E25454;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&:hover figcaption{
			opacity: 1;
			&:before{
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
		&:hover h3{
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		&:hover img{
			opacity: .1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	figcaption{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 40px;
		opacity: 0;
		text-align: center;
		&:before{
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
	img{
		transition: all 200ms linear;
		transform: scale(1.12);
	}
	h3{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}