/*landing*/
#landing{
	background: url("../images/background.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	color: $offwhite;
	text-align: center;
	overflow: hidden;
	@include phone{
		padding: 0;
		height: auto;
		background-position: 50% 50%;
	}
	& header{
		background: rgba(0,0,0,0.75);
		position: absolute;
		width: 100%;
		top: 50%;
		padding: 100px 20px;
		margin-top: -180px;
		@include phone{
			padding: 20px;
			margin-top: 0;
			position: static;
		}
	}
}