/*~~~NAV~~~*/
nav{
  text-transform: uppercase;
  max-width: 600px;
  margin: 0 auto;
  ul{
    list-style: none;
    margin: 0;
  }
  li{
    &:after{
      content: "";
      border-bottom: 5px solid transparent;
      display: block;
      transform: translate(0, 5px);
      transition: all 200ms ease-in;
    }
    &:hover{
      &:after{
        border-color: $red;
        transform: translate(0, 0);
      }
    }
  }
  a{
    display: block;
  }
}

.nav{
  &-main{
    a{
      color: $white;
    }
  }
  &-default{
    max-width: none;
    margin: 0;
    h1{
      a{
        &:hover{
          color: $red;
        }
      }
    }
    li{
      display: inline-block;
      margin: 0 15px 0 0;
    }
    a{
      color: $black;
    }
  }
  &-footer{
    a{
      color: $white;
    }
  }
  &--active:after{
    border-color: $red;
    transform: translate(0, 0);
  }
}