/*typography*/
h1, h2, p, a, li, span{
	margin-bottom: 15px;
}
h1, h2, h3{
	font-weight: 300;
	line-height: 1.1;
}
h1{
	font-size: 60px;
	&.branding{
		font-size: 78px;
	}
}
h2{
	font-size: 40px;
}
h3{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}
p, a, li, span{
	font-size: inherit;
	line-height: 1.4;
	font-weight: inherit;
}
a{
	color: $red;
	text-decoration: none;
}