/*typography*/
h1, h2{
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: .5em;
}
h1{
	font-size: 4em;
	&.branding{
		font-size: 5em;
		@include phone{
			font-size: 3em;
		}
	}
	@include phone{
		font-size: 3em;
	}
}
h2{
	font-size: 2em;
}
h3{
	font-weight: 400;
	margin-bottom: 1em;
}
h3, p, a, li, span{
	font-size: 1.125em;
}
p{
	margin-bottom: 1em;
}
a{
	color: $red;
	text-decoration: none;
}