/*typography*/
h1, h2{
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 15px;
}
h1{
  font-size: 3em;
  &.branding{
    @include breakpoint(sm){
      font-size: 5em;
    }
  }
  @include breakpoint(sm){
    font-size: 4em;
  }
}
h2{
  font-size: 2em;
}
h3{
  font-weight: 400;
  margin-bottom: 15px;
}
h3, p, a, li, span{
  font-size: 1.125em;
}
p{
  margin-bottom: 15px;
}
a{
  color: $red;
  text-decoration: none;
}

.selected{color: $red;}