$font: "Open Sans", sans-serif;
$black: #333;
$white: #fff;
$offwhite: #eee;
$red: #E25454;

/*responsive*/
$phone-width: 480px;
$tablet-width: 768px;
$breakpoint-phone: "(max-width: 480px)";
$breakpoint-tablet: "(max-width: 768px)";

@mixin phone {
	@media (max-width: #{$phone-width}) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: #{$tablet-width}) {
		@content;
	}
}