/*base*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	font-family: "Open Sans", sans-serif;
	color: #333;
	height: 100%;
	background: #eee;
}

/*structures*/
.container{
	max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}