extends reusables/layout

block vars
  - var title="About";
  - var selected = "about";

block content
  include reusables/nav
  section.section--whitebg
    div.container
      h2 About Me
      p Current Austin resident, I've had had an interest in technology and web development since an early age. Since the time of Yahoo Geocities and America Online I have wanted to build my own niche on the internet.
      p I graduated in 2012 with a Bachelors of Science degree in Information Technology from Florida State University and specialized in web development, database, and programming courses. During my time time at FSU I picked up various internships to continue to learn about web development and see what a career in the tech field is like.
      p Needless to say I was smitten. Between my course work and internships, I decided to set my career sites on web developer. After graduating I was hired as a Junior PHP developer for Zimmerman Advertising where I cut my teeth professionally building websites for clients like Party City and WhiteCastle for a year.
      p I currently live in Austin, Texas and work as a Front End Developer for IBM working extensively with Node.js.
      h2 Ways to reach me
      p Phone: 954-643-0549
      p Email: 
        a(href='mailto:david@davidmenendez.net') david@davidmenendez.net
      p Linkedin: 
        a(href='http://www.linkedin.com/in/davidamenendez', target='_blank') in/davidamenendez
      h2#resumeAnchor Resume
      p Download my resume for safe keeping.
      p
        a.button(href='assets/files/david_menendez_resume.docx') DOC Download
        a.button(href='assets/files/david_menendez_resume.pdf') PDF Download
      h2 Work Experience
      h3 Front End Developer, IBM #[a(href='http://www.ibm.com/', target='_blank') www.ibm.com], 8/15 - Current
      ul
        li
          p Extensive front end work using HTML5, CSS3, and Node.js.

      h3 Interactive Developer 2, Blackbaud #[a(href='http://www.blackbaud.com/', target='_blank') www.blackbaud.com], 10/13 - 8/15
      ul
        li
          p Extensive front end work using HTML, CSS, Javascript, and jQuery.
        li
          p Work with multiple clients, in some cases lead role, such as Make A Wish Foundation, American Cancer Society, Colorado Chilrdrens Hospital to maintain and develop their websites.

      h3 Jr. PHP Developer, Zimmerman Advertising #[a(href='http://www.zadv.com/', target='_blank') www.zadv.com], 9/12 - 9/13
      ul
        li
          p Developing, Creating, and Maintaining websites for our clients, including; Party City, Whitecastle, and Bikestreet USA
        li
          p Extensive front end work using HTML, CSS, Javascript, and jQuery. In some cases also using the Kentico CMS
  section
    div.container
      h2 Skills & Tools
      p Able to create eye-appealing and functional websites using HTML, CSS, PHP, MYSQL, Javascript / jQuery, and Photoshop.
      p Knowledge of objective and model view controller coding practices. Able to work with frameworks and able to use these techniques to create web applications.
      p Able to effectively communicate with users to best determine their needs, work with users to keep them updated in a timely manner, and deliver a quality product that satisfies the user’s needs.
      p Knowledge of search engine optimization best practices to ensure a healthy amount of traffic to a site. Able to implement google analytics in a meaningful and effective way to provide clients with important user habit information.
      div.row
        div.col.col2
          ul
            li 
              p HTML5
            li 
              p CSS3
            li 
              p Javascript
            li 
              p PHP
            li 
              p MYSQL
            li 
              p Object Oriented Programming
            li 
              p Model View Controller
            li 
              p Node.js
            li 
              p Frameworks (React.js, Angular.js, jQuery, etc)
        div.col.col2
          ul
            li 
              p AJAX
            li 
              p Cross Browser Compatability
            li 
              p Content Management Systems with Wordpress and Kentico
            li 
              p Version Control with Mercurial, Team Foundation Server, and Git
            li 
              p Search Engine Optimization
            li 
              p Google Analytics
            li 
              p Social Network APIs
            li 
              p Adobe Photoshop