extends layout

block content
  section#landing
    header
      h1.branding David Menendez
      h2 Front End Web Developer
      nav#mainNav
        ul
          li
            a(href="#") PORTFOLIO
          li
            a(href="#") ABOUT
          li
            a(href="#") RESUME
          li
            a(href="#") CONTACT
