extends reusables/layout

block vars
  - var title="Front End Developer"

block content
  section#landing
    header
      h1.branding David Menendez
      h2 Front End Web Developer
      nav#mainNav
        ul
          li
            a(href="/portfolio") PORTFOLIO
          li
            a(href="/about") ABOUT
          li
            a(href="/about#resumeAnchor") RESUME
          li
            a(href="/about") CONTACT
  section#summary
    div.container
      h1 A Professional Web Developer
      h2 Front End Developement
      p Experienced in developing websites with HTML5, CSS3, and jQuery. Able to craft pages from Photoshop mocks and add functionality from client specs. Also knowledgeable of responsive mobile design and modern coding practices. Familiar with integrating jQuery plugins as well as writing javascript to accomplish various site related tasks. 
      h2 Back End Development
      p Experienced in developing back end programming with PHP and some ASP.Net with MVC4. Familiar with Model-View-Controller and Object Oriented programming coding practices. Familiar with using these languages and database languages like SQL and MYSQL to create secure web applications. Experience with using and developing content management systems like Wordpress and Kentico. 
      h2 Utilizing Developer Tools
      p Experienced with various web development tools and languages including Adobe Photoshop, Visual Studio, and multiple types version control. Familiar with using content management systems to provide clients and users an ease way to keep their web site current and up to date. Experienced with using social network APIs with Facebook, Twitter, and more. 
  section#workSamples.--whitebg
    div.container
      h2 Work Samples
      div.row
        div.col.col4.workpreview
          a(href="/portfolio")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col4.workpreview
          a(href="/portfolio")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col4.workpreview
          a(href="/portfolio")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
      a.button(href="/portfolio") View More
