doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,700", type="text/css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    block content
  footer
    div.container
      p david menendez footer