header#siteHeader.container
  h1
    a(href='/') David Menendez
  nav
    ul
      li.active
        a(href='/portfolio') PORTFOLIO
      li
        a(href='about.php') ABOUT
      li
        a(href='about.php#resumeContainer') RESUME