header#siteHeader.container
  h1
    a(href='/') David Menendez
  nav
    ul
      li.active
        a(href='/portfolio') PORTFOLIO
      li
        a(href='/about') ABOUT
      li
        a(href='/about') RESUME