extends layout

block content
  include nav
  section#portfolio
    div.container
      h2 portfolio
      p read it
      div.row--nomargin
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
      div.row--nomargin
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
      div.row--nomargin
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          img(src="http://placehold.it/500x500")