extends reusables/layout

block content
  include reusables/nav
  section#portfolio.--whitebg
    div.container
      h2 portfolio
      p read it
      div.row--nomargin
        div.col--nopad.col4
          a(href="portfolio/hadassah")
            img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          a(href="cportfolio/olorado-childrens-hospital")
            img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          a(href="portfolio/blackbaud")
            img(src="http://placehold.it/500x500")
      div.row--nomargin
        div.col--nopad.col4
          a(href="portfolio/be-a-character")
            img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          a(href="portfolio/bridgewater")
            img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          a(href="portfolio/national-hamburger-month")
            img(src="http://placehold.it/500x500")
      div.row--nomargin
        div.col--nopad.col4
          a(href="portfolio/zimmerman-blog")
            img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          a(href="portfolio/bikestreet")
            img(src="http://placehold.it/500x500")
        div.col--nopad.col4
          a(href="portfolio/hottest-halloween")
            img(src="http://placehold.it/500x500")