extends reusables/layout

block vars
  - var title="Portfolio"
  - var selected = "portfolio";

block content
  include reusables/nav
  section#portfolio.section--whitebg
    div.container
      h2 portfolio
      p read it
      div.row.row--nomargin
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/hadassah")
            figure
              img(src="/images/work/hadassah/hada1.jpg")
              figcaption
                h3 Hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/colorado-childrens-hospital")
            figure
              img(src="/images/work/chcf/chcf.jpg")
              figcaption
                h3 CHCOF
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/blackbaud")
            figure
              img(src="/images/work/blackbaud/rfl.jpg")
              figcaption
                h3 Blackbaud
      div.row.row--nomargin
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/be-a-character")
            figure
              img(src="/images/work/beacharacter/be-a-character1.jpg")
              figcaption
                h3 BeACharacter
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/bridgewater")
            figure
              img(src="/images/work/lennar/lennar1.jpg")
              figcaption
                h3 Lennar
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/national-hamburger-month")
            figure
              img(src="/images/work/nhm/national-hamburger-month1.jpg")
              figcaption
                h3 NHM
      div.row.row--nomargin
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/zimmerman-blog")
            figure
              img(src="/images/work/zblog/zna1.jpg")
              figcaption
                h3 Z-Blog
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/bikestreet")
            figure
              img(src="/images/work/bstreet/bikestreet1.jpg")
              figcaption
                h3 Bikestreet USA
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/hottest-halloween")
            figure
              img(src="/images/work/hottesthalloween/hottest-halloween1.jpg")
              figcaption
                h3 Hottest Halloween