extends reusables/layout

block vars
  - var title="Portfolio"
  - var selected = "portfolio";

block content
  include reusables/nav
  section#portfolio.section--whitebg
    div.container
      h2 portfolio
      p read it
      div.row.row--nomargin
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/hadassah")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/colorado-childrens-hospital")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/blackbaud")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
      div.row.row--nomargin
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/be-a-character")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/bridgewater")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/national-hamburger-month")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
      div.row.row--nomargin
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/zimmerman-blog")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/bikestreet")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah
        div.col.col3.col--nopad.workpreview
          a(href="portfolio/hottest-halloween")
            figure
              img(src="http://placehold.it/500x500")
              figcaption
                h3 hadassah