/*responsive*/
/*base*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

html {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  height: 100%;
  background: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 300; }

img {
  max-width: 100%;
  display: block; }

ul {
  margin-left: 40px; }

/*structures*/
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden; }

.row {
  overflow: hidden;
  margin: 0 -15px 15px -15px; }
  .row--nomargin {
    overflow: hidden;
    margin: 0; }

.col {
  float: left;
  padding: 0 15px; }
  .col--nopad {
    float: left;
    padding: 0; }

.col6 {
  width: 50%; }

.col4 {
  width: 33.33333%; }

.col3 {
  width: 25%; }

@media (max-width: 480px) {
  .col {
    float: none; }
  .col6, .col4, .col3 {
    width: 100%; } }

/*general classes*/
.button {
  display: inline-block;
  min-width: 200px;
  padding: 15px;
  text-align: center;
  background: #E25454;
  color: #eee;
  border: 2px solid transparent; }
  .button:hover {
    background: transparent;
    color: #333;
    border-color: #333; }
  @media (max-width: 480px) {
    .button {
      min-width: 100%; } }

.--whitebg {
  background: #fff; }

.banner {
  margin-bottom: 30px; }

.workpreview a {
  display: block; }

.workpreview figure {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #E25454;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .workpreview figure:hover figcaption {
    opacity: 1; }
    .workpreview figure:hover figcaption:before {
      -webkit-transform: scale(1);
      transform: scale(1); }
  .workpreview figure:hover h3 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .workpreview figure:hover img {
    opacity: .1;
    -webkit-transform: scale(1);
    transform: scale(1); }

.workpreview figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  opacity: 0;
  text-align: center; }
  .workpreview figcaption:before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.workpreview img {
  transition: all 200ms linear;
  transform: scale(1.12); }

.workpreview h3 {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

/*typography*/
h1, h2, p, a, li, span {
  margin-bottom: 15px; }

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.1; }

h1 {
  font-size: 60px; }
  h1.branding {
    font-size: 78px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px; }

p, a, li, span {
  font-size: inherit;
  line-height: 1.4;
  font-weight: inherit; }

a {
  color: #E25454;
  text-decoration: none; }

/*nav*/
/*defauts*/
nav {
  overflow: hidden; }
  nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0; }
  nav li {
    float: left;
    border-bottom: 5px solid transparent;
    margin: 0; }
    nav li:hover {
      border-bottom-color: #e25454; }
  nav a {
    display: block;
    padding: 5px 0;
    margin: 0; }

/*nav on index*/
#mainNav ul, #footerNav ul {
  max-width: 600px;
  margin: 0 auto; }

#mainNav a, #footerNav a {
  color: #fff; }

#mainNav li {
  width: 25%; }

#footerNav {
  margin-bottom: 15px; }
  #footerNav li {
    width: 33.33333%; }

/*nav seen on ever other page*/
#defaultNav li {
  margin-right: 15px; }

#defaultNav h1 a:hover {
  color: #E25454; }

#defaultNav a {
  color: #333; }

/*landing*/
#landing {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  color: #eee;
  text-align: center;
  overflow: hidden; }
  #landing header {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 100px 20px;
    margin-top: -180px; }

footer {
  background: #333;
  color: #eee;
  text-align: center;
  padding: 10px 0; }

.svg {
  margin: 24px auto;
  display: block;
  animation: svg-rotate 8000ms linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px; }

circle {
  fill: transparent;
  stroke: hotpink;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 0, 301.59289;
  animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite; }

@keyframes svg-rotate {
  to {
    transform: rotate(360deg); } }

@keyframes stroke-width {
  0%, 100% {
    stroke-width: 0; }
  45%, 55% {
    stroke-width: 2; }
  50% {
    stroke-width: 4; } }

@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289; } }

@keyframes stroke-color {
  from {
    stroke: #E25454; } }

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  opacity: 0; }

.modalfade {
  opacity: 1; }
