.container
      nav#footerNav
        ul
          li
            a(href='/portfolio') PORTFOLIO
          li
            a(href='/about') ABOUT
          li
            a(href='/about#resumeAnchor') RESUME
      small © David Menendez 2015