.container
  nav#footerNav
    ul.clear
      li
        a(href='/portfolio') PORTFOLIO
      li
        a(href='/about') ABOUT
      li
        a(href='/about#resumeAnchor') RESUME
  small © David Menendez 2016