.container
  nav.nav-footer
    ul.row
      li.col.col3
        a(href='/portfolio') PORTFOLIO
      li.col.col3
        a(href='/about') ABOUT
      li.col.col3
        a(href='/about#resumeAnchor') RESUME
  small © David Menendez 2016