doctype html
html
  head
    title= "David Menendez | " + title
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400", type="text/css")
    link(rel="stylesheet", href="/css/styles.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content
    footer
      include footer
  script(src="/scripts/scripts.js")