extends ../reusables/layout

block content
  include ../reusables/nav
  section.--whitebg
    div.container
      h2 Lennar Bridgewater
      img(src="http://placehold.it/1000x300").banner
      div.row
        div.col.col4
          img(src="http://placehold.it/500x500")
        div.col.col4
          img(src="http://placehold.it/500x500")
        div.col.col4
          img(src="http://placehold.it/500x500")
  section#projectDescription
    div.container
      h3 Description
      p My role for this project was head front-end developer. There were four page designs delivered and needed to be created into three separate pages as well as template for additional pages that would be added into a CMS. Each page with two additional breakpoints for tablet and phone.
      p This was a fairly straight forward build with the accompanying PSDs. All Markup and styling done by me as well as javascript. Because this is a CMS build, once all the HTML was completed it had to be gutted and put into the CMS for templating use.
      a.button(href="national-hamburger-month") National Hamburger Month