extends ../reusables/layout

block vars
  - var title="Hadassah"
  - var selected = "portfolio";

block content
  include ../reusables/nav
  article#portfolioEntry
    section#projectGallery.section--whitebg
      div.container
        h2 Hadassah
        img(src="/images/work/hadassah/banner.jpg").banner
        div.row
          div.col.col3
            img(src="/images/work/hadassah/hada1.jpg")
          div.col.col3
            img(src="/images/work/hadassah/hada3.jpg")
          div.col.col3
            img(src="/images/work/hadassah/hada4.jpg")
    section#projectDescription
      div.container
        h3 Description
        p My role for this project was head front-end developer. There were four page designs delivered and needed to be created into three separate pages as well as template for additional pages that would be added into a CMS. Each page with two additional breakpoints for tablet and phone.
        p This was a fairly straight forward build with the accompanying PSDs. All Markup and styling done by me as well as javascript. Because this is a CMS build, once all the HTML was completed it had to be gutted and put into the CMS for templating use.
        a.button.--button-async(href="colorado-childrens-hospital") Colorado Childrens Hospital